<section class="py-12">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Heading -->
        <h2 class="mb-4 text-center">Alışverişe Başla</h2>

        <!-- Nav -->
        <div class="nav justify-content-center mb-10">
          <a class="nav-link active" href="#topSellersTab" data-toggle="tab">Bayan</a>
          <a class="nav-link" href="#topSellersTab" data-toggle="tab">Bay</a>
          <a class="nav-link" href="#topSellersTab" data-toggle="tab">Cocuk</a>
        </div>

        <!-- Content -->
        <div class="tab-content">

          <!-- Pane -->
          <div class="tab-pane fade active show" id="topSellersTab">

            <!-- Slider -->
            <div class="flickity-buttons-lg flickity-buttons-offset px-lg-12 flickity-enabled is-draggable"
            data-flickity="{&quot;prevNextButtons&quot;: true}" tabindex="0">

              <!-- Item -->


              <!-- Item -->


              <!-- Item -->


              <!-- Item -->


              <!-- Item -->


              <!-- Item -->


              <!-- Item -->


            <div class="flickity-viewport" style="height: 236px; touch-action: pan-y;"><div class="flickity-slider" style="left: 0px; transform: translateX(-174.42%);"><div class="col" style="max-width: 200px; position: absolute; left: 203.49%;" aria-hidden="true">
                <div class="card">

                  <!-- Image -->
                  <img class="card-img-top" src="../../../assets/canta/canta02.png" alt="...">

                  <!-- Body -->
                  <div class="card-body py-4 px-0 text-center">

                    <!-- Heading -->
                    <a class="stretched-link text-body" href="shop.html">
                      <h6>Dresses <small>(58)</small></h6>
                    </a>

                  </div>

                </div>
              </div><div class="col" style="max-width: 200px; position: absolute; left: 232.56%;" aria-hidden="true">
                <div class="card">

                  <!-- Image -->
                  <img class="card-img-top" src="../../../assets/canta/canta02.png" alt="...">

                  <!-- Body -->
                  <div class="card-body py-4 px-0 text-center">

                    <!-- Heading -->
                    <a class="stretched-link text-body" href="shop.html">
                      <h6>Tops <small>(35)</small></h6>
                    </a>

                  </div>

                </div>
              </div><div class="col" style="max-width: 200px; position: absolute; left: 261.63%;" aria-hidden="true">
                <div class="card">

                  <!-- Image -->
                  <img class="card-img-top" src="../../../assets/canta/canta02.png" alt="...">

                  <!-- Body -->
                  <div class="card-body py-4 px-0 text-center">

                    <!-- Heading -->
                    <a class="stretched-link text-body" href="shop.html">
                      <h6>T-shirts <small>(27)</small></h6>
                    </a>

                  </div>

                </div>
              </div><div class="col" style="max-width: 200px; position: absolute; left: 87.21%;" aria-hidden="true">
                <div class="card">

                  <!-- Image -->
                  <img class="card-img-top" src="../../../assets/canta/canta02.png" alt="...">

                  <!-- Body -->
                  <div class="card-body py-4 px-0 text-center">

                    <!-- Heading -->
                    <a class="stretched-link text-body" href="shop.html">
                      <h6>Shoes <small>(64)</small></h6>
                    </a>

                  </div>

                </div>
              </div><div class="col" style="max-width: 200px; position: absolute; left: 116.28%;" aria-hidden="true">
                <div class="card">

                  <!-- Image -->
                  <img class="card-img-top" src="../../../assets/canta/canta02.png" alt="...">

                  <!-- Body -->
                  <div class="card-body py-4 px-0 text-center">

                    <!-- Heading -->
                    <a class="stretched-link text-body" href="shop.html">
                      <h6>Jeans <small>(12)</small></h6>
                    </a>

                  </div>

                </div>
              </div><div class="col" style="max-width: 200px; position: absolute; left: 145.35%;" aria-hidden="true">
                <div class="card">

                  <!-- Image -->
                  <img class="card-img-top" src="../../../assets/canta/canta02.png" alt="...">

                  <!-- Body -->
                  <div class="card-body py-4 px-0 text-center">

                    <!-- Heading -->
                    <a class="stretched-link text-body" href="shop.html">
                      <h6>Sweatshirts <small>(11)</small></h6>
                    </a>

                  </div>

                </div>
              </div><div class="col is-selected" style="max-width: 200px; position: absolute; left: 174.42%;">
                <div class="card">

                  <!-- Image -->
                  <img class="card-img-top" src="../../../assets/canta/canta02.png" alt="...">

                  <!-- Body -->
                  <div class="card-body py-4 px-0 text-center">

                    <!-- Heading -->
                    <a class="stretched-link text-body" href="shop.html">
                      <h6>Jackets <small>(9)</small></h6>
                    </a>

                  </div>

                </div>
              </div>
            </div>
          </div>
          <button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous">
            <svg class="flickity-button-icon" viewBox="0 0 100 100">
              <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>
            </svg>
          </button>
          <button class="flickity-button flickity-prev-next-button next"
            type="button" aria-label="Next">
            <svg class="flickity-button-icon" viewBox="0 0 100 100">
                <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"
                transform="translate(100, 100) rotate(180) "></path>
            </svg>
          </button>
        </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
