<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container" *ngIf="!isLoading" style="margin-top: 8rem;">
  <div class="row">
    <div class="col-6 col-md-8 col-lg-6 mx-auto">
      <div class="card border-0 box-shadow">
        <div class="card-body">
          <h2 class="h4 mb-1">Üye Girişi</h2>
          <div class="py-3">
            <h3 class="d-inline-block align-middle font-size-base font-weight-semibold mb-2 mr-2">
              Sosyal Ağlarla Giriş:
            </h3>
            <app-social></app-social>
          </div>
          <hr />
          <h3 class="font-size-base pt-4 pb-2">
            Üye Girişi
            <span style="color:red; margin-left: 2rem;">
              <a routerLink="/auth/register">
                Üye değilseniz yeni üyelik için tıklayınız</a
              ></span
            >
          </h3>
          <form
            class="needs-validation"
            (submit)="onLogin(loginForm)"
            #loginForm="ngForm"
          >
            <div class="input-group-overlay form-group">
              <div class="input-group-prepend-overlay">
                <span class="input-group-text">
                  <i class="far fa-envelope"></i>
                </span>
              </div>
              <input
                class="form-control prepended-form-control"
                type="email"
                placeholder="Email"
                name="email"
                #emailInput="ngModel"
                ngModel
                required
                email
              />
            </div>
            <div class="input-group-overlay form-group">
              <div class="input-group-prepend-overlay">
                <span class="input-group-text">
                  <i class="fas fa-lock"></i
                ></span>
              </div>
              <div class="password-toggle">
                <input
                  class="form-control prepended-form-control"
                  [type]="[isText ? 'text' :'password']"
                  placeholder="Parola"
                  name="password"
                  #passwordInput="ngModel"
                  ngModel
                  required
                />
                <label class="password-toggle-btn">
                  <input class="custom-control-input"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="isText"
                  (onchange)="onShowText()"
                  type="checkbox"/>
                  <i
                  class="password-toggle-indicator fas "
                  [ngClass]="[isText ? 'fa-eye-slash':'fa-eye']"></i>
                  <span class="sr-only">Parolayı Göster</span>
                </label>
              </div>
            </div>
            <div class="d-flex flex-wrap justify-content-between">
              <div class="custom-control custom-checkbox">
                <input
                  class="custom-control-input"
                  type="checkbox"
                  checked=""
                  id="remember_me"
                />
                <label class="custom-control-label" for="remember_me"
                  >Hatırla beni</label
                >
              </div>
              <a
                class="nav-link-inline font-size-sm"
                href="account-password-recovery.html"
                >Parolanızı mı unuttunuz?</a
              >
            </div>
            <hr class="mt-4" />
            <div class="text-right pt-4">
              <button class="btn btn-primary" type="submit">
                <i class="czi-sign-in mr-2 ml-n21"></i>Giriş Yap
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
