<section class="pt-6">
    <div class="container-fluid px-3 px-md-6">
      <div class="row mx-n3">
        <div class="col-12 col-sm-4 d-flex flex-column px-3">
          <!-- Card-->
          <div class="card card-xl mb-3 mb-sm-0" style="min-height: 280px">
            <!-- Background -->
            <div class="card-bg">
              <div class="card-bg-img bg-cover"
              [ngStyle]="{'background-image': 'url(assets/canta/cantam.png'}"></div>
            </div>
            <!-- Body -->
            <div class="card-body my-auto">
              <!-- Heading -->
              <h5 class="mb-0">Çantalar</h5>
              <!-- Link -->
              <a class="btn btn-link stretched-link px-0 text-reset" routerLink="/shop/canta">
                Alışverişe Başla <i class="fas fa-arrow-right ml-2"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column px-3">
          <!-- Card-->
          <div class="card card-xl mb-3 mb-sm-0" style="min-height: 280px;">
            <!-- Background -->
            <div class="card-bg">
              <div class="card-bg-img bg-cover"
              [ngStyle]="{'background-image': 'url(assets/canta/cantam.png)'}"></div>
            </div>
            <!-- Body -->
            <div class="card-body my-auto">
              <!-- Heading -->
              <h5 class="mb-0">Cüzdanlar</h5>
              <!-- Link -->
              <a class="btn btn-link stretched-link px-0 text-reset" routerLink="/shop/cuzdan">
                Alışverişe Başla <i class="fas fa-arrow-right ml-2"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column px-3">
          <!-- Card-->
          <div class="card card-xl bg-cover bg-hover" style="min-height: 280px;">
            <!-- Background -->
            <div class="card-bg">
              <div class="card-bg-img bg-cover"
              [ngStyle]="{'background-image': 'url(assets/canta/cantam.png)'}"></div>
            </div>
            <!-- Body -->
            <div class="card-body my-auto">
              <!-- Heading -->
              <h5 class="mb-0">Valizler</h5>
              <!-- Link -->
              <a class="btn btn-link stretched-link px-0 text-reset" routerLink="/shop/valiz">
                Alışverişe Başla <i class="fas fa-arrow-right ml-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
