<div class="d-inline-block align-middle">
  <a class="social-btn sb-google mr-2 mb-2"
    href="#"
    data-toggle="tooltip"
    title=""
    data-original-title="Sign in with Google"
  >
    <i class="fab fa-google"></i
  ></a>
  <a
    class="social-btn sb-facebook mr-2 mb-2"
    href="#"
    data-toggle="tooltip"
    title=""
    data-original-title="Sign in with Facebook"
  >
    <i class="fab fa-facebook"></i
  ></a>
  <a
    class="social-btn sb-twitter mr-2 mb-2"
    href="#"
    data-toggle="tooltip"
    title=""
    data-original-title="Sign in with Twitter"
  >
    <i class="fab fa-twitter"></i>
  </a>
</div>
