  <div class="card mb-7 bg-light">
    <div class="card-body">
      <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
        <li class="list-group-item d-flex">
          <span> Vergi Dışı </span> <span class="ml-auto font-size-sm"> {{ subTot.toFixed(2) }} ₺</span>
        </li>
        <li class="list-group-item d-flex">
          <span> Vergi </span> <span class="ml-auto font-size-sm"> {{ taxc.toFixed(2) }} ₺</span>
        </li>
        <li class="list-group-item d-flex font-size-lg font-weight-bold">
          <span> Toplam </span> <span class="ml-auto font-size-sm"> {{ total.toFixed(2) }} ₺</span>
        </li>
        <li class="list-group-item font-size-sm text-center text-gray-500">
          Kargo Ucreti Ödeme Esnasında
        </li>
      </ul>
    </div>
  </div>

