<section class="pt-11">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="nav nav-tabs nav-overflow justify-content-start justify-content-md-center border-bottom">
          <p> Ürün Bilgisi </p>
        </div>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="descriptionTab">
            <div class="row justify-content-center py-9">
              <div class="col-12 col-lg-10 col-xl-8">
                <div class="row">
                  <div class="col-12">
                    <!-- Text -->
                    <p class="text-gray-500">
                        {{ urunAci.aciklama }}
                    </p>
                  </div>
                  <div class="col-12 col-md-6">
                    <!-- List -->
                    <ul class="list list-unstyled mb-md-0 text-gray-500">
                      <li>
                        <strong class="text-body">Urun Kodu</strong>: {{ urunAci.id}}
                      </li>
                      <li>
                        <strong class="text-body">Sektör</strong>: {{ urunAci.sektor}}
                      </li>
                    </ul>
                  </div>
                  <div class="col-12 col-md-6">
                    <!-- List -->
                    <ul class="list list-unstyled mb-0">
                      <li>
                        <strong>Ülke</strong>: Türkiye
                      </li>
                      <li>
                        <strong>Ürün Malzemsi</strong>: 96% Pamuk, 4% Deri
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
