<section class="py-12">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">
          <div class="mb-7 font-size-h1">❤️</div>
          <h2 class="mb-5">Siparişinizi tamamladınız!</h2>
          <p class="mb-7 text-gray-500">
             <span class="text-body text-decoration-underline">673290789</span>
            nolu siparişiniz tamamlandı. Detaylara hesaplarımdan bakabilirsiniz.
          </p>
          <a class="btn btn-dark" [routerLink]="'/account-orders'">
            Siparişimi görüntüle
          </a>
        </div>
    </div>
  </div>
</section>
