<section class="py-12">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Heading -->
        <h2 class="mb-10 text-center">Yeni Gelenler</h2>
      </div>
    </div>
  </div>
  <div class="flickity-page-dots-progress flickity-enabled is-draggable"
  data-flickity="{&quot;pageDots&quot;: true}" tabindex="0">
  <div class="flickity-viewport" style="height: 413.625px; touch-action: pan-y;">
    <div class="flickity-slider" style="left: 0px; transform: translateX(-225.08%);">
      <div class="col is-selected" style="max-width: 300px; position: absolute; left: 225.08%;">
      <div class="card">
        <!-- Image -->
        <div class="card-img">
          <!-- Action -->
          <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
            <i class="fas fa-heart"></i>
          </button>

          <!-- Button -->
          <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
            <i class="far fa-eye mr-2 mb-1">
            </i> Gözat
          </button>
          <!-- Image -->
          <img class="card-img-top" src="../../../assets/canta/canta01.png" alt="...">
        </div>
        <!-- Body -->
        <div class="card-body font-weight-bold text-center">
          <a class="text-body" href="product.html">Cotton floral print Dress</a><br>
          <span class="text-muted">$40.00</span>
        </div>
      </div>
    </div><div class="col" style="max-width: 300px; position: absolute; left: 257.23%;" aria-hidden="true">
      <div class="card">

        <!-- Image -->
        <div class="card-img">
          <!-- Action -->
          <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
            <i class="fas fa-heart"></i>
          </button>

          <!-- Badge -->
          <span class="badge badge-dark card-badge card-badge-left text-uppercase">
            Yeni
          </span>

          <!-- Button -->
          <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
            <i class="far fa-eye mr-2 mb-1"></i> Gözat
          </button>
          <!-- Image -->
          <img class="card-img-top" src="../../../assets/canta/canta01.png" alt="...">
        </div>

        <!-- Body -->
        <div class="card-body font-weight-bold text-center">
          <a class="text-body" href="product.html">Suede cross body Bag</a> <br>
          <span class="font-size-xs text-gray-350 text-decoration-line-through">$85.00</span>
          <span class="text-primary">$49.00</span>
        </div>
      </div>
    </div><div class="col" style="max-width: 300px; position: absolute; left: 289.39%;" aria-hidden="true">
      <div class="card">

        <!-- Image -->
        <div class="card-img">

          <!-- Action -->
          <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
            <i class="fe fe-heart"></i>
          </button>

          <!-- Button -->
          <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
            <i class="fe fe-eye mr-2 mb-1"></i> Quick View
          </button>

          <!-- Image -->
          <img class="card-img-top" src="../../../assets/canta/canta01.png" alt="...">

        </div>

        <!-- Body -->
        <div class="card-body font-weight-bold text-center">
          <a class="text-body" href="product.html">Cotton leaf print Shirt</a> <br>
          <span class="text-muted">$65.00</span>
        </div>

      </div>
    </div><div class="col" style="max-width: 300px; position: absolute; left: 321.54%;" aria-hidden="true">
      <div class="card">

        <!-- Image -->
        <div class="card-img">

          <!-- Action -->
          <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
            <i class="fe fe-heart"></i>
          </button>

          <!-- Button -->
          <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
            <i class="fe fe-eye mr-2 mb-1"></i> Quick View
          </button>

          <!-- Image -->
          <img class="card-img-top" src="../../../assets/canta/canta01.png" alt="...">

        </div>

        <!-- Body -->
        <div class="card-body font-weight-bold text-center">
          <a class="text-body" href="product.html">Leather Sneakers</a> <br>
          <a class="text-primary" href="#">Select Options</a>
        </div>

      </div>
    </div><div class="col" style="max-width: 300px; position: absolute; left: 128.62%;" aria-hidden="true">
      <div class="card">

        <!-- Image -->
        <div class="card-img">

          <!-- Action -->
          <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
            <i class="fe fe-heart"></i>
          </button>

          <!-- Button -->
          <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
            <i class="fe fe-eye mr-2 mb-1"></i> Quick View
          </button>

          <!-- Image -->
          <img class="card-img-top" src="../../../assets/canta/canta01.png" alt="...">

        </div>

        <!-- Body -->
        <div class="card-body font-weight-bold text-center">
          <a class="text-body" href="product.html">Another fine dress</a> <br>
          <span class="text-muted">$99.00</span>
        </div>

      </div>
    </div><div class="col" style="max-width: 300px; position: absolute; left: 160.77%;" aria-hidden="true">
      <div class="card">

        <!-- Image -->
        <div class="card-img">

          <!-- Action -->
          <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
            <i class="fe fe-heart"></i>
          </button>

          <!-- Button -->
          <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
            <i class="fe fe-eye mr-2 mb-1"></i> Quick View
          </button>

          <!-- Image -->
          <img class="card-img-top" src="../../../assets/canta/canta01.png" alt="...">

        </div>

        <!-- Body -->
        <div class="card-body font-weight-bold text-center">
          <a class="text-body" href="product.html">Baseball Cap</a> <br>
          <span class="text-muted">$10.00</span>
        </div>

      </div>
    </div><div class="col" style="max-width: 300px; position: absolute; left: 192.93%;" aria-hidden="true">
      <div class="card">

        <!-- Image -->
        <div class="card-img">

          <!-- Action -->
          <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
            <i class="fe fe-heart"></i>
          </button>

          <!-- Button -->
          <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
            <i class="fe fe-eye mr-2 mb-1"></i> Quick View
          </button>
          <!-- Image -->
          <img class="card-img-top" src="../../../assets/canta/canta01.png" alt="...">
        </div>
        <!-- Body -->
        <div class="card-body font-weight-bold text-center">
          <a class="text-body" href="product.html">Leather sneakers</a> <br>
          <span class="text-muted">$19.00</span>
        </div>
      </div>
    </div>
  </div>
  </div>
      <ol class="flickity-page-dots">
        <li class="dot is-selected" aria-label="Page dot 1" aria-current="step"></li>
        <li class="dot" aria-label="Page dot 2"></li>
        <li class="dot" aria-label="Page dot 3"></li>
        <li class="dot" aria-label="Page dot 4"></li>
        <li class="dot" aria-label="Page dot 5"></li>
        <li class="dot" aria-label="Page dot 6"></li>
        <li class="dot" aria-label="Page dot 7"></li>
      </ol>
    </div>
</section>
