<div class="container mx-auto pb-1">
    <div class="row">
      <section class="col-lg-10 pt-lg-2 pb-4 mb-3 mx-auto">
        <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
          <div class="d-sm-flex flex-wrap justify-content-between align-items-center pb-2">
            <h3 class="h3 py-2 mx-auto text-center text-sm-left text-muted">
              Kategori Ekle
            </h3>
          </div>
          <form (submit)="onAddCategories()" [formGroup]="form"
          class="row justify-content-between">
            <div class="form-group col-9 pb-2">
              <input
                class="form-control"
                placeholder="Ürün Kategori"
                type="text"
                formControlName="category"
              />
              <div *ngIf="!form.get('category').valid && form.get('category').touched"
              class="help-block"> Bu alan boş bırakılmamalıdır. </div>
            </div>
            <button class="btn btn-sm btn-primary" type="submit">
              Kaydet
            </button>
          </form>
        </div>
      </section>
    </div>
  </div>
<app-liste [datas]="datas"></app-liste>
