<div class="container mx-auto mb-5 pb-3">
  <div class="overflow-hidden">
    <div class="row">
      <section class="col-lg-10 pt-lg-2 pb-4 mb-3 mx-auto">
        <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
          <div
            class="d-sm-flex flex-wrap justify-content-between align-items-center pb-2"
          >
            <h3 class="h3 py-2 mx-auto text-center text-sm-left">
              Kategori Ekle
            </h3>
          </div>
          <form (submit)="onAddCategories()" [formGroup]="form"
          class="d-flex justify-content-between">
            <div class="form-group pb-2">
              <input
                class="form-control"
                placeholder="Ürün Kategori"
                type="text"
                formControlName="category"
              />
              <div *ngIf="" class="invalid-feedback"> Bu alan </div>
            </div>
            <button class="btn btn-sm btn-primary" type="submit">
              Kaydet
            </button>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="container mx-auto mb-5 pb-3">
  <div class="overflow-hidden">
    <div class="row">
      <section class="col-lg-8 pt-lg-4 pb-4 mb-3 mx-auto">
        <h3 class="h3 py-2 mx-auto text-center text-sm-left">
          Kategoriler
        </h3>
        <div *ngFor="let data of datas; let i = index" class="text-dark">
          <div> {{ data.category|uppercase }}
            <button
              type="button"
              class="btn btn-sm"
              (click)="onDelete(data._id)"
            >
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
