<div class="container" style="margin-top: 7rem; margin-bottom: 5rem;">
  <div class="row no-gutters">
    <div class="col-4">
      <div class="sidenav">
        <a href="/admin/create-categories" type="button">
          Categori Create
        </a>
        <a href="/admin/create-marka" type="button">
          Marka Create
        </a>
        <a href="/admin/create" type="button">
          Products Create
        </a>
      </div>
    </div>
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
