<!-- Nav -->
<nav class="mb-10 mb-md-0">
    <div class="list-group list-group-sm list-group-strong list-group-flush-x">
      <a class="list-group-item list-group-item-action dropright-toggle" routerLink="/account-orders">
        Siparişler
      </a>
      <a class="list-group-item list-group-item-action dropright-toggle" routerLink="/account-wishlist">
        Favoriler
      </a>
      <a class="list-group-item list-group-item-action dropright-toggle active" routerLink="/account-current">
        Kişisel Bilgiler
      </a>
    </div>
  </nav>
